/* color-scheme */
:root {
    --color-primary: #FF5757;
    --color-secondary: #7ED956;
    --color-tertiary: #FFDE59;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.7)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
}

.hero-page {
    background-image: url(img/hero-img.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-page .header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow);
    height: 40vh;
}
.header img {
    margin-inline: 10px;
}

.navigation {
    display: flex;
    position: absolute;
    height: 60vh;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.navigation .nav-btn {
    width: 230px;
    height: 230px;
    margin: 70px;
    border-radius: 30px;
    box-shadow: var(--shadow);
    opacity: 0.8;
}
.navigation .nav-btn:hover {
    opacity: 1;
}
.red {
    background-color: var(--color-primary);
}
.green {
    background-color: var(--color-secondary);
}
.yellow {
    background-color: var(--color-tertiary);
}
.navigation .nav-btn i {
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 230px;
    width: 230px;
}